<div class="layout">
    {% for task in tasks %}
    <div class="item">
        <div class="meta">
            <span class="index">{{ loop.index }}</span>
        </div>
        <div class="content">
            <span class="title title--small">{{ task.content }}</span>
            <span class="description">{{task.description}}</span>
            <div class="flex gap--small">
                <span class="label label--small label--underline">📅{{task.due_date}}</span>
                <span class="label label--small label--underline">🏴{{task.priority}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="title_bar">
    <img class="image" src="https://www.svgrepo.com/download/306859/todoist.svg">
    <span class="title">Todoist (Unofficial)</span>
    <span class="instance">@KilobyteTheDust</span>
</div>